body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
  background-color: #fdfdff;
}

.page-header {
    width: 600px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 25px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: auto;
}

.site-navigation-item {
    margin-right: 20px;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item a {
    color: #163152;
    text-decoration: none;
}

/*FOOTER*/


.footer-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 15px;
    list-style: none;
}

.footer-list-item {
    padding: 15px;
    margin: 10px;
}

.footer-list-item a {
    text-decoration: none;
    color: #163152;
}