body {
    font-family: "Inter", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.page-header {
    width: 800px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 25px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
}

.site-navigation-item {
    list-style: none;
}

.site-navigation-item a {
    display: block;
    text-decoration: none;
    color: black;
}

.site-navigation-item a:hover {
    color: #ff5733;
    text-decoration: underline;
}

.hero {}