body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
  background-color: #fdfdff;
}

.page-header {
    width: 600px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 25px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: auto;
}

.site-navigation-item {
    margin-right: 20px;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item a {
    color: #163152;
    text-decoration: none;
}

.main-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.main-footer a {
    text-decoration: none;
    
}